<nav>
  <ul class="no-bullets">
    <% if (req.originalUrl === "/") { %>
      <li>
        Home
      </li>
    <% } else { %>
      <li>
        <a href="/" >
          Home
        </a>
      </li>
    <% } %>

    <% pages.forEach(function(page) { %>
      <% if (req.originalUrl === page.path) { %>
        <li>
          <%= page.linkText %>
        </li>
      <% } else { %>
        <li>
          <a href="<%= page.path %>" >
            <%= page.linkText %>
          </a>
        </li>
      <% } %>
    <% }) %>
  </ul>
</nav>
