<nav>
  <ul class="no-bullets">
    <a href="/">
      Home
    </a>
    <% pages.forEach(function(page) { %>
    <li>
      <a href="<%= page.id %>">
        <%= page.title %>
      </a>
    </li>
    <% }) %>
  </ul>
</nav>
